* {
	margin: 0px;
	padding: 0px;
}

.box {
	width: 100%;
	height: 40px;
	background: rgb(12, 112, 149);
}

.leftDash {
	position: relative;
	display: inline-block;
	float: left;
	left: 0px;
	width: 500px;
	height: 98vh;
	background: white;
	border-right: 3px solid grey;
}

.telegram {
	height: 60px;
	width: 499px;
	font-size: 30px;
	color: white;
	border: 1px solid grey;
	background: rgb(48, 126, 182);
}
.telegram #search{
	margin-left: 300px;
}

.chats {
	width: 100%;
	height: 40px;
	float: left;
}
.chatButton {
	float: left;
	width: 100%;
	height: 80px;
	background: #FFF;
	color: black;
	cursor: pointer;
	overflow: hidden;
}

.chatInfo {
	float: left;
}

.chatInfo p {
	float: left;
}

.chatInfo .image {
	position: absolute;
	width: 55px;
	height: 55px;
	background: #DDD url(boy.jpg) no-repeat center;
	background-size: cover;
	border-radius: 100%;
	margin: 13px 13px;
}

.chatInfo .my-image {
	background-image: url(girl.jpg);
}

.chatInfo .name {
	float: left;
	font-weight: bolder;
	margin-left: 80px;
	margin-top: 18px;
}

.chatInfo .message {
	float: left;
	clear: left;
	margin-left: 80px;
	margin-top: 7px;
}
.status {
	width: 80px;
    height: 100%;
	position: relative;
	float: right;
}
.status .count {
	color: white;
	background: rgb(126, 198, 19);
	border-radius: 20px;
	width: 15px;
	height: auto;
	font-size: larger;
	position: absolute;
	top: 45px;
	right: 12px;
	
}

.status .date {
	position: absolute;
	right: 12px;
	top: 12px;
	font-size: 16px;
}
.topBar{
	height:60px ;
	width: 1520px;
	color: white;
	background:rgb(48, 126, 182) ;
	cursor: pointer;
}
.left{
	float: left;
}
.left .image{
	position: absolute;
	width: 55px;
	height: 55px;
	background: #DDD url(boy.jpg) no-repeat center;
	background-size: cover;
	border-radius: 100%;
	margin: 4px 13px;
}
div test {
    width: 30px;
    height: 10px;
    background-image: radial-gradient(circle, black 10px, transparent 11px);
    background-size: 40% 10%;
	margin-right: 0px;
}
.test:after {
	content: '\2807';
	font-size: 30px;
}
.right{
	float: right;
	margin-right: 0px;
	margin-top: 5px;
}
.conversation {
	float: left;
	position: relative;
	width: 100%;
	height: calc(100vh - 140px);
	background: #333;
	overflow-x: hidden;
	overflow-y: auto;
}
.bg{
	position: absolute;
	display: inline-block;
	float: right;
	right: 0px;
	width: 1016px;
	height: 90vh;
	background: url(ocean.jpg) no-repeat;
	background-size: 1016px 100vh;
}
.image {
	position: absolute;
	width: 55px;
	height: 55px;
	background: #DDD url(boy.jpg) no-repeat center;
	background-size: cover;
	border-radius: 100%;
	margin: 13px 13px;
}
.whiteBox{
	height: 60px;
	width: 400px;
	background: white;
	margin-left: 80px	;
	margin-top: 120px;
}
.whiteBox .timestamp{
	float: right;
	color: grey;
	margin-right: 3px;
}
.chatInfo .images {
	position: absolute;
	width: 55px;
	height: 55px;
	background: #DDD url(balloon.jpg) no-repeat center;
	background-size: cover;
	border-radius: 100%;
	margin: 13px 13px;
}
.chatInfo .imag {
	position: absolute;
	width: 55px;
	height: 55px;
	background: #DDD url(lady.jpg) no-repeat center;
	background-size: cover;
	border-radius: 100%;
	margin: 13px 13px;
}
.chatInfo .ima {
	position: absolute;
	width: 55px;
	height: 55px;
	background: #DDD url(boats.jpg) no-repeat center;
	background-size: cover;
	border-radius: 100%;
	margin: 13px 13px;
}
.chatInfo .im {
	position: absolute;
	width: 55px;
	height: 55px;
	background: #DDD url(girl1.jpg) no-repeat center;
	background-size: cover;
	border-radius: 100%;
	margin: 13px 13px;
}
.chatInfo .i {
	position: absolute;
	width: 55px;
	height: 55px;
	background: #DDD url(girl2.jpg) no-repeat center;
	background-size: cover;
	border-radius: 100%;
	margin: 13px 13px;
}
.typeHere{
	height: 45px;
	width:100%;
	background: white;
	margin-top: 200px;
}
.typeHere .attach{
	
	margin-left: 550px;
	height: 20px;
	width:20px;
}
.typeHere .micro{
	float: right;
	margin-right: 40px;
	padding: 5px;
	height: 20px;
	width:20px;
}